---
---

<article class="bg-grey-400 p-4 pb-8 min-h-[500px] flex flex-col">
  <img
    class="mb-6 rounded-lg"
    alt="Argument lorem ipsum"
    src="/assets/images/blog-roll-1.png"
  />
  <p class="text-bordo-100 lagusans font-medium">Argument lorem ipsum</p>
  <p class="text-base text-grey-200 mb-4">12.12.2023</p>
  <p class="small text-grey-200 mb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
    libero et velit interdum, ac aliquet odio mattis vulputate libertus.
  </p>
  <a href="/wpis" class="btn-text link max-w-max text-bordo-100 mt-auto cursor-pointer">
    Więcej</a
  >
</article>
