---
---

<div class="p-[10px] rounded-lg bg-bordo-100 w-[44px] h-[44px]">
  <svg
    width="25"
    height="24"
    viewBox="0 0 25 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_437_5698)">
      <path
        d="M5.31738 8.5H14.8174"
        stroke="#F9F7F7"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M5.31738 11.5H11.3174"
        stroke="#F9F7F7"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M5.31738 5.5H12.3174"
        stroke="#F9F7F7"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M5.31738 14.5H9.31738"
        stroke="#F9F7F7"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M5.31738 17.5H9.31738"
        stroke="#F9F7F7"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M11.3174 23.5H2.31738C2.05217 23.5 1.79781 23.3946 1.61028 23.2071C1.42274 23.0196 1.31738 22.7652 1.31738 22.5V1.5C1.31738 1.23478 1.42274 0.98043 1.61028 0.792893C1.79781 0.605357 2.05217 0.5 2.31738 0.5H15.6104C15.8756 0.500057 16.1299 0.605451 16.3174 0.793L20.0244 4.5C20.2119 4.68749 20.3173 4.9418 20.3174 5.207V8.5"
        stroke="#F9F7F7"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M12.3174 17.5C12.3174 19.0913 12.9495 20.6174 14.0747 21.7426C15.2 22.8679 16.7261 23.5 18.3174 23.5C19.9087 23.5 21.4348 22.8679 22.56 21.7426C23.6852 20.6174 24.3174 19.0913 24.3174 17.5C24.3174 15.9087 23.6852 14.3826 22.56 13.2574C21.4348 12.1321 19.9087 11.5 18.3174 11.5C16.7261 11.5 15.2 12.1321 14.0747 13.2574C12.9495 14.3826 12.3174 15.9087 12.3174 17.5Z"
        stroke="#F9F7F7"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M18.3174 14.5V20.5"
        stroke="#F9F7F7"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M18.3174 20.5L16.0674 18.25"
        stroke="#F9F7F7"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M18.3174 20.5L20.5674 18.25"
        stroke="#F9F7F7"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </g>
    <defs>
      <clipPath id="clip0_437_5698">
        <rect
          width="24"
          height="24"
          fill="white"
          transform="translate(0.817383)"></rect>
      </clipPath>
    </defs>
  </svg>
</div>
