---
---

<section class="relative h-[603px] overflow-hidden">
  <div
    class="container wrapper relative z-20 flex flex-wrap lg:flex-nowrap pt-8 lg:pt-0 lg:items-center justify-between h-full"
  >
    <div class="infinit-slider-wrapper">
      <h2 class="text-yellow-50 lagusans infinit-slider px-2">
        Mądry wybór <span class="victorserif">i elastyczność</span> dla Twojego biznesu
      </h2>
      <h2 class="text-yellow-50 lagusans infinit-slider px-2">
        Mądry wybór <span class="victorserif">i elastyczność</span> dla Twojego biznesu
      </h2>
      <h2 class="text-yellow-50 lagusans infinit-slider px-2">
        Mądry wybór <span class="victorserif">i elastyczność</span> dla Twojego biznesu
      </h2>
      <h2 class="text-yellow-50 lagusans infinit-slider px-2">
        Mądry wybór <span class="victorserif">i elastyczność</span> dla Twojego biznesu
      </h2>
    </div>

    <div class="text-yellow-50 mx-auto lg:mr-0 relative z-20">
      <span class="mb-6 block lagusans"
        ><span class="victorserif">Choose</span> <br />wise.</span
      >
      <div class="swiper swiper-choice max-w-[256px]">
        <div class="swiper-wrapper">
          {
            [1, 2, 3].map(() => (
              <img
                src="/assets/images/film-img.png"
                class="mb-6 swiper-slide"
              />
            ))
          }
        </div>
      </div>

      <span class="victorserif"
        >Be <span class="lagusans">wise</span> with us.</span
      >
    </div>
  </div>
  <video
    autoplay="true"
    playsinline=""
    loop=""
    controlslist="nodownload"
    poster="https://c.stocksy.com/a/XhRK00/z9/4873047.jpg"
    src="https://c.stocksy.com/a/XhRK00/y0/4873047.mp4"
    class="w-full h-full absolute top-0 left-0 object-cover z-10"
    muted=""></video>
</section>
