---
import InstagramCard from "./InstagramCard.astro";
---

<section class="py-20 bg-yellow-20">
  <div class="container wrapper inView slideUp">
    <div class="text-bordo-200 mb-10">
      <div class="flex flex-col-reverse lg:flex-row lg:items-center">
        <h2 class="victorserif">Poznaj nasz Instagram</h2>
        <svg
          width="35"
          height="34"
          viewBox="0 0 35 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="lg:ml-auto"
        >
          <path
            d="M0 26.9522V21.681L14.8566 16.5383L0 11.9801V6.7439L17.4954 0L34.9909 6.7439V11.3957L20.1343 16.5383L34.9909 21.7394V26.3328L17.4954 33.0767L0 26.9873V26.9522ZM3.00248 24.0069L17.4954 28.7755L31.9884 24.0069L17.4954 19.3434L3.00248 24.0069ZM3.00248 9.04642L17.4954 13.7099L31.9884 9.04642L17.4954 4.27776L3.00248 9.04642Z"
            fill="#750843"></path>
        </svg>
      </div>
      <div class="flex flex-wrap lg:flex-nowrap items-center">
        <h3 class="mr-8 lagusans w-full lg:w-auto">#wise-energy</h3>
        <div class="flex items-center mr-4 gap-4">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_265_311)">
              <path
                d="M12 13.7143C14.3669 13.7143 16.2857 11.7955 16.2857 9.42854C16.2857 7.0616 14.3669 5.14282 12 5.14282C9.63308 5.14282 7.71429 7.0616 7.71429 9.42854C7.71429 11.7955 9.63308 13.7143 12 13.7143Z"
                stroke="#60113D"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M3.60019 23.1428C3.99363 21.2052 5.04487 19.4631 6.57574 18.2118C8.10662 16.9606 10.023 16.2771 12.0002 16.2771C13.9774 16.2771 15.8937 16.9606 17.4247 18.2118C18.9556 19.4631 20.0068 21.2052 20.4002 23.1428"
                stroke="#60113D"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M21.4286 0.857178H2.57143C1.62466 0.857178 0.857147 1.62469 0.857147 2.57146V21.4286C0.857147 22.3754 1.62466 23.1429 2.57143 23.1429H21.4286C22.3754 23.1429 23.1429 22.3754 23.1429 21.4286V2.57146C23.1429 1.62469 22.3754 0.857178 21.4286 0.857178Z"
                stroke="#60113D"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
            <defs>
              <clipPath id="clip0_265_311">
                <rect width="24" height="24" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
          <p>80780</p>
        </div>
        <div class="flex items-center gap-4">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_265_318)">
              <path
                d="M2.57143 23.1429H21.4286C22.3754 23.1429 23.1429 22.3754 23.1429 21.4286V2.57146C23.1429 1.62469 22.3754 0.857178 21.4286 0.857178H2.57143C1.62466 0.857178 0.857147 1.62469 0.857147 2.57146V21.4286C0.857147 22.3754 1.62466 23.1429 2.57143 23.1429Z"
                stroke="#750843"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M3 23.1427L15.5143 11.3484C15.6683 11.2202 15.8624 11.1499 16.0628 11.1499C16.2633 11.1499 16.4574 11.2202 16.6114 11.3484L23.1429 16.0284"
                stroke="#750843"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M7.71428 10.2857C9.13445 10.2857 10.2857 9.13442 10.2857 7.71425C10.2857 6.29409 9.13445 5.14282 7.71428 5.14282C6.29412 5.14282 5.14285 6.29409 5.14285 7.71425C5.14285 9.13442 6.29412 10.2857 7.71428 10.2857Z"
                stroke="#750843"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
            <defs>
              <clipPath id="clip0_265_318">
                <rect width="24" height="24" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
          <p>1890</p>
        </div>
      </div>
    </div>
    <div class="flex gap-4 instagram md:-mr-4">
      <img src="/assets/images/instagram-1.png" alt="instagram" />
      <InstagramCard image="/assets/images/instagram-3.png" />
      <img src="/assets/images/instagram-2.png" alt="instagram" />
      <InstagramCard image="/assets/images/instagram-4.png" />
    </div>
  </div>
</section>
