---
import BlogRollCard from "./BlogRollCard.astro";

const products = [
  { image: "/assets/images/product-1.png" },
  { image: "/assets/images/product-2.png" },
  { image: "/assets/images/product-3.png" },
  { image: "/assets/images/product-1.png" },
  { image: "/assets/images/product-2.png" },
  { image: "/assets/images/product-3.png" },
];
---

<section class="py-20 bg-grey-500">
  <div class="container wrapper">
    <h2 class="text-bordo-200 mb-20 lagusans">
      Galeria <span class="victorserif">naszych produktów</span>
    </h2>
    <div class="swiper products-swiper">
      <div class="swiper-wrapper">
        {
          products.map((item, index) => {
            return (
              <div class="swiper-slide">
                <article class="bg-white rounded-2xl p-4">
                  <img
                    class="rounded-lg"
                    alt="Argument lorem ipsum"
                    src={item.image}
                  />
                </article>
              </div>
            );
          })
        }
      </div>
      <div class="slider-navigation">
        <button class="swiper-button-prev nav-prev"
          ><svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.5333 0.666687L7.76668 15.5014C7.69619 15.5639 7.63975 15.6407 7.60111 15.7266C7.56246 15.8126 7.54248 15.9058 7.54248 16C7.54248 16.0943 7.56246 16.1874 7.60111 16.2734C7.63975 16.3594 7.69619 16.4361 7.76668 16.4987L24.5333 31.3334"
              stroke="#60113D"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </button>
        <div class="swiper-pagination"></div>
        <button class="swiper-button-next nav-next">
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_266_1261)">
              <path
                d="M7.46665 31.3333L24.2333 16.4986C24.3038 16.4361 24.3602 16.3593 24.3989 16.2734C24.4375 16.1874 24.4575 16.0942 24.4575 16C24.4575 15.9057 24.4375 15.8126 24.3989 15.7266C24.3602 15.6406 24.3038 15.5639 24.2333 15.5013L7.46665 0.666647"
                stroke="#60113D"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
            <defs>
              <clipPath id="clip0_266_1261">
                <rect
                  width="32"
                  height="32"
                  fill="white"
                  transform="translate(32 32) rotate(180)"></rect>
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
