---
---

<div
  id="searchBar"
  class="bg-bordo-100 fixed left-0 top-0 right-0 h-[100vh] flex items-center search-bar"
>
  <button
    class="absolute p-5 top-8 right-8 md:top-12 md:right-12 rounded-lg group transition ease-morph duration-300 group close-search"
    ><svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_153_1673)">
        <path
          d="M23.5 0.5L0.5 23.5"
          stroke="#ffffff"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M23.5 23.5L0.5 0.5"
          stroke="#ffffff"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </g>
      <defs>
        <clipPath id="clip0_153_1673">
          <rect width="24" height="24" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </button>
  <div class="max-w-[752px] w-full mx-auto p-8 md:p-0">
    <svg
      width="284"
      height="42"
      viewBox="0 0 284 42"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M52.0428 8.85767L57.6065 28.1518L63.3483 8.85767H67.969L73.4908 27.9611L79.0545 8.85767H82.1559L74.9787 33.1422H70.1274L64.7838 14.3567L59.1258 33.1422H54.2746L47.0449 8.85767H52.0219H52.0428Z"
        fill="#F9F7F7"></path>
      <path
        d="M85.5195 2.63824C85.5195 1.1443 86.6826 0 88.2542 0C89.7316 0 90.947 1.1337 90.947 2.63824C90.947 4.14278 89.7316 5.26589 88.2542 5.26589C86.6826 5.26589 85.5195 4.13219 85.5195 2.63824ZM85.8758 8.85772H90.5908V33.1423H85.8758V8.85772Z"
        fill="#F9F7F7"></path>
      <path
        d="M94.5935 27.6857L96.5633 26.3189C98.1769 29.2645 100.692 30.7266 104.055 30.7266C107.418 30.7266 109.482 29.1373 109.482 26.5944C109.482 24.1893 107.733 23.4158 103.374 22.3245L102.431 22.102C97.7158 20.8729 95.3374 18.5208 95.3374 15.1091C95.3374 10.7967 98.7008 8.3916 103.73 8.3916C108.759 8.3916 111.63 10.7544 113.066 13.6999L111.096 15.0667C109.43 12.386 107.596 11.2523 104.589 11.2523C101.582 11.2523 100.147 12.2907 100.147 14.3886C100.105 16.1156 101.362 16.9738 102.661 17.5672C103.07 17.7473 104.055 17.9804 104.369 18.1075C104.725 18.1499 105.847 18.4254 106.035 18.4678C111.243 19.5591 114.292 21.5087 114.292 25.8633C114.292 28.3638 113.349 30.3134 111.505 31.6272C109.661 32.941 107.376 33.5768 104.547 33.5768C99.4761 33.5768 96.0604 31.3094 94.583 27.6751L94.5935 27.6857Z"
        fill="#F9F7F7"></path>
      <path
        d="M137.626 27.23L139.512 28.5015C137.762 31.4046 134.441 33.5873 129.768 33.5873C126.132 33.5873 123.125 32.4112 120.746 30.0484C118.368 27.6856 117.152 24.7401 117.152 21.2013C117.152 17.6624 118.273 14.664 120.516 12.174C122.8 9.67354 125.629 8.4021 129.045 8.4021C132.272 8.4021 134.965 9.5358 137.081 11.8562C139.187 14.1766 140.266 17.3022 140.266 21.2966H121.909C122.004 23.8395 122.758 26.0646 124.193 27.9187C125.671 29.7835 127.829 30.7371 130.7 30.7371C133.571 30.7371 135.415 29.7411 137.615 27.2406L137.626 27.23ZM124.749 13.2972C123.449 14.664 122.59 16.3804 122.192 18.4677H135.656C135.614 16.6029 134.891 14.9288 133.592 13.4773C132.293 11.9833 130.805 11.2522 129.149 11.2522C127.494 11.2522 126.048 11.9304 124.749 13.2972Z"
        fill="#F9F7F7"></path>
      <path
        d="M140.13 39.51H140.695L146.05 40.0822C147.904 38.9061 149.12 37.2426 150.021 33.2694L154.725 12.7038H150.712L150.754 11.8774L154.987 11.6125L155.501 9.38746C156.705 4.05799 161.284 0.614502 167.12 0.614502H168.074V3.18917H167.508L161.462 2.53226C159.817 3.70835 158.874 6.15587 158.267 8.81531L157.659 11.4747L160.677 11.3052H161.976V12.7038H157.397L153.29 30.6523C151.393 39.1286 145.651 42 141.115 42H140.119V39.51H140.13Z"
        fill="#F9F7F7"></path>
      <path
        d="M166.429 12.7039V12.1317L172.003 11.3053H172.778L172.736 11.7821L168.158 29.0313C167.644 30.8219 168.074 31.7861 168.975 31.7861C169.792 31.7861 170.358 30.9597 171.395 29.0737L173.04 26.0646L173.899 26.4566L172.254 29.4657C170.704 32.4324 169.666 33.439 167.98 33.439C165.905 33.439 164.742 31.998 165.737 28.4591L169.792 13.0853L166.429 12.6933V12.7039ZM172.391 2.30981C173.648 2.30981 174.633 3.27399 174.633 4.53484C174.633 5.79568 173.638 6.80224 172.391 6.80224C171.144 6.80224 170.19 5.79568 170.19 4.53484C170.19 3.27399 171.144 2.30981 172.391 2.30981Z"
        fill="#F9F7F7"></path>
      <path
        d="M181.193 13.0958L177.829 12.7038V12.1316L183.403 11.3052H184.179V11.782L179.946 28.2048H180.291L183.917 20.5655C187.762 12.4919 189.92 11.0933 192.247 11.0933C195.568 11.0933 196.742 13.7103 195.264 18.4252L192.068 29.0842C191.461 30.8748 191.807 31.7966 192.718 31.7966C193.535 31.7966 194.101 30.9702 195.138 29.0842L196.783 26.0751L197.601 26.4671L195.998 29.4762C194.447 32.4429 193.41 33.4495 191.723 33.4495C189.648 33.4495 188.527 32.0085 189.606 28.512L192.76 18.118C193.755 14.7593 193.231 13.011 191.157 13.011C189.344 13.011 187.794 14.6745 182.649 24.3586L179.286 30.8642L178.678 33.1316H176.09L181.182 13.0852L181.193 13.0958Z"
        fill="#F9F7F7"></path>
      <path
        d="M200.282 25.8846C200.282 18.7221 205.511 10.8604 211.462 10.8604C213.746 10.8604 215.653 12.0788 216.648 14.2615H216.91L217.644 11.4643H220.232L215.653 29.0208C215.087 30.8114 215.527 31.7756 216.428 31.7756C217.246 31.7756 217.812 30.9491 218.891 29.0632L220.536 26.0965L221.353 26.4885L219.76 29.4976C218.157 32.4219 217.13 33.4285 215.444 33.4285C213.369 33.4285 212.206 31.9875 213.201 28.4486L215.622 19.1459H215.402L213.117 24.2953C210.351 30.6737 208.539 33.7251 205.563 33.7251C202.409 33.7251 200.293 30.4512 200.293 25.8634L200.282 25.8846ZM206.244 31.7756C208.623 31.7756 209.744 29.0632 213.023 22.653L216.481 16.0203L216.523 15.713C215.485 13.2231 213.799 12.1742 212.028 12.1742C207.533 12.1742 203.048 19.6863 203.048 26.1494C203.048 29.8154 204.211 31.7862 206.244 31.7862V31.7756Z"
        fill="#F9F7F7"></path>
      <path
        d="M228.646 13.0958L225.283 12.7038V12.1316L230.857 11.3052H231.632V11.782L227.399 28.2048H227.745L231.37 20.5655C235.216 12.4919 237.374 11.0933 239.7 11.0933C243.022 11.0933 244.195 13.7103 242.718 18.4252L239.522 29.0842C238.914 30.8748 239.26 31.7966 240.172 31.7966C240.989 31.7966 241.555 30.9702 242.592 29.0842L244.237 26.0751L245.054 26.4671L243.462 29.4762C241.911 32.4429 240.874 33.4495 239.187 33.4495C237.112 33.4495 235.991 32.0085 237.07 28.512L240.224 18.118C241.22 14.7593 240.696 13.011 238.632 13.011C236.819 13.011 235.258 14.6745 230.124 24.3586L226.76 30.8642L226.152 33.1316H223.564L228.657 13.0852L228.646 13.0958Z"
        fill="#F9F7F7"></path>
      <path
        d="M247.684 25.8421C247.684 19.2094 252.954 10.8179 259.817 10.8179C263.62 10.8179 265.517 13.4773 264.741 17.938L264.574 18.9021H261.556L261.986 17.2916C262.719 14.2296 261.902 11.9622 259.356 11.9622C254.127 11.9622 250.46 20.4808 250.46 25.7149C250.46 29.8683 252.744 31.9132 255.249 31.9132C257.187 31.9132 259.262 30.6948 261.168 27.9823L261.944 26.891L262.803 27.5055L262.07 28.5969C259.827 32.051 257.061 33.7886 254.169 33.7886C250.366 33.7886 247.694 30.6418 247.694 25.8421H247.684Z"
        fill="#F9F7F7"></path>
      <path
        d="M266.512 26.1492C266.512 19.2941 271.867 10.8284 279.033 10.8284C281.841 10.8284 284 12.0468 284 14.4944C284 16.5922 282.187 20.0357 274.151 21.9111L269.572 22.96C269.404 23.8818 269.31 24.793 269.31 25.6725C269.31 29.8682 271.385 31.9131 274.015 31.9131C275.911 31.9131 278.028 30.7794 279.882 28.3743L280.836 27.1134L281.611 27.7703L280.836 28.904C278.331 32.3581 275.701 33.7991 273.061 33.7991C269.3 33.7991 266.502 31.0443 266.502 26.1598L266.512 26.1492ZM273.857 20.8198C279.725 19.2517 281.286 16.5816 281.286 14.5791C281.286 12.7885 279.987 11.9621 278.174 11.9621C274.119 11.9621 270.924 16.9843 269.802 21.9217L273.857 20.8304V20.8198Z"
        fill="#F9F7F7"></path>
      <path
        d="M0 30.3557V25.5772L14.9832 20.9153L0 16.7831V12.0364L17.6446 5.92285L35.2891 12.0364V16.2533L20.3059 20.9153L35.2891 25.6302V29.7942L17.6446 35.9077L0 30.3875V30.3557ZM3.02808 27.6857L17.6446 32.0086L32.2611 27.6857L17.6446 23.4582L3.02808 27.6857ZM3.02808 14.1237L17.6446 18.3512L32.2611 14.1237L17.6446 9.80075L3.02808 14.1237Z"
        fill="#F9F7F7"></path>
    </svg>

    <div class="flex gap-8">
      <div class="relative custom-input undefined white max-w-[464px] flex-1">
        <input id="search" type="text" name="mail" placeholder="Szukaj" />
        <label for="search">Szukaj</label>
        <!--  <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute right-4 top-4"
        >
          <g clip-path="url(#clip0_145_4397)">
            <path
              d="M0.5 8.5C0.5 10.6217 1.34285 12.6566 2.84315 14.1569C4.34344 15.6571 6.37827 16.5 8.5 16.5C10.6217 16.5 12.6566 15.6571 14.1569 14.1569C15.6571 12.6566 16.5 10.6217 16.5 8.5C16.5 6.37827 15.6571 4.34344 14.1569 2.84315C12.6566 1.34285 10.6217 0.5 8.5 0.5C6.37827 0.5 4.34344 1.34285 2.84315 2.84315C1.34285 4.34344 0.5 6.37827 0.5 8.5Z"
              stroke="#f1e2a6"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M14.156 14.156L23.5 23.5"
              stroke="#f1e2a6"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g>
          <defs>
            <clipPath id="clip0_145_4397">
              <rect width="24" height="24" fill="#f1e2a6"></rect>
            </clipPath>
          </defs>
        </svg> -->
      </div>

      <button class="btn secondary">Szukaj</button>
    </div>
  </div>
</div>
