---
---

<div class="relative">
  <video
    id="video"
    playsinline=""
    loop=""
    controlslist="nodownload"
    poster="https://c.stocksy.com/a/XhRK00/z9/4873047.jpg"
    src="https://c.stocksy.com/a/XhRK00/y0/4873047.mp4"
    class="w-full h-full object-cover z-10 rounded-lg"
    muted=""></video>
  <button
    class="absolute w-8 h-8 lg:w-20 lg:h-20 md:w-[162px] md:h-[162px] rounded-full left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    id="play_button"
    ><svg
      width="118"
      height="118"
      viewBox="0 0 118 118"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="w-8 h-8 lg:w-20 lg:h-20"
    >
      <rect width="118" height="118" rx="59" fill="#750843"></rect>
      <path
        d="M67.5 57.4019C69.5 58.5566 69.5 61.4434 67.5 62.5981L57 68.6603C55 69.815 52.5 68.3716 52.5 66.0622L52.5 53.9378C52.5 51.6284 55 50.185 57 51.3397L67.5 57.4019Z"
        fill="#F9F7F7"></path>
    </svg>
  </button>
</div>
