---
const { item } = Astro.props;
---

<article class="bg-white px-6 py-12 rounded-2xl max-w-[389px]">
  <div class="text-center">
    <div
      class="bg-bordo-100 rounded-lg w-16 h-16 flex items-center justify-center mx-auto mb-4"
    >
      <h3 class="victorserif text-white">{item}</h3>
    </div>
    <h3 class="victorserif mb-4">Faktoring SME</h3>
    <p class="small mb-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
      libero et velit interdum, ac aliquet odio mattis vulputate libertus.
    </p>
    <a class="link" href="/kontakt">Więcej</a>
  </div>
</article>
